openapi: 3.2.0
info:
  title: Acuant AssureID Connect Images API
  description: REST API for document identity verification. Supports creating document transactions, uploading multi-spectral images, extracting data fields, and retrieving authentication results for over 3,400 global document types including driver's licenses, passports, and national IDs. Uses HTTP Basic authentication over HTTPS.
  version: '1.0'
  contact:
    name: Acuant Support
    url: https://support.acuant.com
  x-api-id: acuant:assureid-connect
servers:
- url: https://services.assureid.net
  description: USA Production
- url: https://us.assureid.acuant.net
  description: USA Production (alternate)
- url: https://eu.assureid.acuant.net
  description: EU Production
- url: https://aus.assureid.acuant.net
  description: AUS Production
- url: https://preview.assureid.acuant.net
  description: Preview / Sandbox
security:
- BasicAuth: []
tags:
- name: Images
  description: Submit and retrieve document images
paths:
  /Document/{instanceId}/Image:
    post:
      operationId: uploadDocumentImage
      summary: Upload document image
      description: Submits a document image for the specified instance. Multiple images can be submitted with different light sources and document sides. Minimum 300 DPI required; 600 DPI recommended for authentication.
      tags:
      - Images
      parameters:
      - $ref: '#/components/parameters/instanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUploadRequest'
            example:
              Image:
                MimeType: image/jpeg
                Data: <base64-encoded-image-data>
              Light: 0
              Side: 0
              CalculateMetrics: true
      responses:
        '200':
          description: Image submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '430':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getDocumentImage
      summary: Retrieve document images
      description: Returns document images with corrected orientation.
      tags:
      - Images
      parameters:
      - $ref: '#/components/parameters/instanceId'
      responses:
        '200':
          description: Document images
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /DocumentImageMetrics:
    get:
      operationId: getDocumentImageMetrics
      summary: Get image quality metrics
      description: Returns image quality metrics including sharpness and glare scores.
      tags:
      - Images
      responses:
        '200':
          description: Image quality metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    ValidationError:
      description: Validation or argument error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Duplicate submission attempt
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    DocumentImage:
      type: object
      properties:
        GlareMetric:
          type: number
          format: float
        SharpnessMetric:
          type: number
          format: float
        Light:
          type: integer
          description: Light source used
        Side:
          type: integer
          description: Document side
        Uri:
          type: string
          format: uri
          description: URI of corrected orientation image
    ImageMetrics:
      type: object
      properties:
        GlareMetric:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Glare quality score (0-100)
        SharpnessMetric:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Sharpness quality score (0-100)
    ImageData:
      type: object
      required:
      - MimeType
      - Data
      properties:
        MimeType:
          type: string
          description: MIME type of the image
          example: image/jpeg
        Data:
          type: string
          format: byte
          description: Base64-encoded image data
    ImageUploadRequest:
      type: object
      required:
      - Image
      - Light
      - Side
      properties:
        Image:
          $ref: '#/components/schemas/ImageData'
        Light:
          type: integer
          description: Light source type (0=Visible, 1=NearInfrared, 2=Ultraviolet, 3=Coaxial)
          enum:
          - 0
          - 1
          - 2
          - 3
        Side:
          type: integer
          description: Document side (0=Front, 1=Back)
          enum:
          - 0
          - 1
        CalculateMetrics:
          type: boolean
          description: Whether to calculate image quality metrics
          default: true
    Error:
      type: object
      properties:
        Code:
          type: integer
          description: HTTP status code
        Message:
          type: string
          description: Error description
  parameters:
    instanceId:
      name: instanceId
      in: path
      required: true
      description: Document instance GUID
      schema:
        type: string
        format: uuid
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Credentials formatted as "name:password" and base64-encoded, transmitted via Authorization header over HTTPS.
