openapi: 3.2.0
info:
  title: Acuant AssureID Connect Chip Data API
  description: REST API for document identity verification. Supports creating document transactions, uploading multi-spectral images, extracting data fields, and retrieving authentication results for over 3,400 global document types including driver's licenses, passports, and national IDs. Uses HTTP Basic authentication over HTTPS.
  version: '1.0'
  contact:
    name: Acuant Support
    url: https://support.acuant.com
  x-api-id: acuant:assureid-connect
servers:
- url: https://services.assureid.net
  description: USA Production
- url: https://us.assureid.acuant.net
  description: USA Production (alternate)
- url: https://eu.assureid.acuant.net
  description: EU Production
- url: https://aus.assureid.acuant.net
  description: AUS Production
- url: https://preview.assureid.acuant.net
  description: Preview / Sandbox
security:
- BasicAuth: []
tags:
- name: Chip Data
  description: Submit and retrieve contactless chip data
paths:
  /DocumentChipData:
    post:
      operationId: uploadDocumentChipData
      summary: Submit contactless chip data
      description: Submits contactless chip (NFC/RFID) information for a document.
      tags:
      - Chip Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChipDataRequest'
      responses:
        '200':
          description: Chip data submitted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getDocumentChipData
      summary: Retrieve chip authentication results
      description: Returns contactless chip authentication results.
      tags:
      - Chip Data
      responses:
        '200':
          description: Chip authentication results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChipDataResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ChipDataResult:
      type: object
      properties:
        Authenticated:
          type: boolean
          description: Whether chip authentication succeeded
        ChipFields:
          type: array
          items:
            $ref: '#/components/schemas/DocumentField'
    ChipDataRequest:
      type: object
      properties:
        ChipData:
          type: string
          description: NFC/RFID chip data payload
    DocumentField:
      type: object
      properties:
        Name:
          type: string
          description: Field name (e.g., "First Name", "Date of Birth")
        Value:
          type: string
          description: Extracted field value
        DataSource:
          type: string
          description: Source of the data extraction
    Error:
      type: object
      properties:
        Code:
          type: integer
          description: HTTP status code
        Message:
          type: string
          description: Error description
  responses:
    Unauthorized:
      description: Authentication failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Credentials formatted as "name:password" and base64-encoded, transmitted via Authorization header over HTTPS.
