openapi: 3.2.0
info:
  title: Acuant AssureID Connect Metadata API
  description: REST API for document identity verification. Supports creating document transactions, uploading multi-spectral images, extracting data fields, and retrieving authentication results for over 3,400 global document types including driver's licenses, passports, and national IDs. Uses HTTP Basic authentication over HTTPS.
  version: '1.0'
  contact:
    name: Acuant Support
    url: https://support.acuant.com
  x-api-id: acuant:assureid-connect
servers:
- url: https://services.assureid.net
  description: USA Production
- url: https://us.assureid.acuant.net
  description: USA Production (alternate)
- url: https://eu.assureid.acuant.net
  description: EU Production
- url: https://aus.assureid.acuant.net
  description: AUS Production
- url: https://preview.assureid.acuant.net
  description: Preview / Sandbox
security:
- BasicAuth: []
tags:
- name: Metadata
  description: Supported document types, subscriptions, logs
paths:
  /DocumentTypes:
    get:
      operationId: listDocumentTypes
      summary: List supported document types
      description: Returns the list of over 3,400 supported global document types.
      tags:
      - Metadata
      responses:
        '200':
          description: Supported document types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentType'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Subscriptions:
    get:
      operationId: listSubscriptions
      summary: List available subscriptions
      description: Returns available subscriptions for the authenticated account.
      tags:
      - Metadata
      responses:
        '200':
          description: Available subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /DocumentLog:
    get:
      operationId: getDocumentLog
      summary: Get transaction log
      description: Returns transaction log entries for document processing sessions.
      tags:
      - Metadata
      responses:
        '200':
          description: Transaction log entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentLogEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Subscription:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: string
        IsActive:
          type: boolean
    DocumentType:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type: string
          description: Document type name
        Class:
          type: string
          description: Document class (Identification, Passport, etc.)
        IssuerCode:
          type: string
          description: Issuing country/entity code
        IssuerName:
          type: string
          description: Issuing country/entity name
        Series:
          type: string
          description: Document series identifier
    Error:
      type: object
      properties:
        Code:
          type: integer
          description: HTTP status code
        Message:
          type: string
          description: Error description
    DocumentLogEntry:
      type: object
      properties:
        InstanceId:
          type: string
          format: uuid
        Timestamp:
          type: string
          format: date-time
        DocumentType:
          type: string
        Status:
          type: string
  responses:
    Unauthorized:
      description: Authentication failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Credentials formatted as "name:password" and base64-encoded, transmitted via Authorization header over HTTPS.
