openapi: 3.2.0
info:
  title: Acuant AssureID Connect Document Data API
  description: REST API for document identity verification. Supports creating document transactions, uploading multi-spectral images, extracting data fields, and retrieving authentication results for over 3,400 global document types including driver's licenses, passports, and national IDs. Uses HTTP Basic authentication over HTTPS.
  version: '1.0'
  contact:
    name: Acuant Support
    url: https://support.acuant.com
  x-api-id: acuant:assureid-connect
servers:
- url: https://services.assureid.net
  description: USA Production
- url: https://us.assureid.acuant.net
  description: USA Production (alternate)
- url: https://eu.assureid.acuant.net
  description: EU Production
- url: https://aus.assureid.acuant.net
  description: AUS Production
- url: https://preview.assureid.acuant.net
  description: Preview / Sandbox
security:
- BasicAuth: []
tags:
- name: Document Data
  description: Upload and retrieve extracted document data
paths:
  /Document/{instanceId}/Data:
    post:
      operationId: uploadDocumentData
      summary: Upload non-imaging data
      description: Uploads non-imaging data for a document instance such as magnetic stripe data, MRZ (machine-readable zone), or chip data.
      tags:
      - Document Data
      parameters:
      - $ref: '#/components/parameters/instanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentDataRequest'
      responses:
        '200':
          description: Data submitted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /DocumentData:
    get:
      operationId: getDocumentData
      summary: Retrieve extracted document data
      description: Returns all extracted data fields from the document.
      tags:
      - Document Data
      responses:
        '200':
          description: Extracted document data fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentField'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    DocumentField:
      type: object
      properties:
        Name:
          type: string
          description: Field name (e.g., "First Name", "Date of Birth")
        Value:
          type: string
          description: Extracted field value
        DataSource:
          type: string
          description: Source of the data extraction
    Error:
      type: object
      properties:
        Code:
          type: integer
          description: HTTP status code
        Message:
          type: string
          description: Error description
    DocumentDataRequest:
      type: object
      properties:
        DataType:
          type: integer
          description: Type of non-imaging data (MRZ, magnetic stripe, etc.)
        Data:
          type: string
          description: Raw data string
  parameters:
    instanceId:
      name: instanceId
      in: path
      required: true
      description: Document instance GUID
      schema:
        type: string
        format: uuid
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Credentials formatted as "name:password" and base64-encoded, transmitted via Authorization header over HTTPS.
